@model IEnumerable<StoreOfBuild.Web.ViewsModels.CategoryViewModel>;
@{
    ViewData["Title"] = "Categories";
}
<div class="row header">
    <div class="col-md-12">
        <h3>Categories</h3>
        <a href="~/Category/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead><tr>Nome</tr></thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="name">@item.Name</a></td>
                        <td><a href="~/Category/CreateOrEdit/@item.Id" class="btn">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>